html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", Roboto, "San Francisco", "Helvetica Neue", "Calibri", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0f101d;
}

h1 {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 0.3em;
}

h2 {
    font-family: "Roboto Light", Roboto, "Helvetica Neue Light", "Calibri Light", sans-serif;
    font-style: italic;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

#links {
    margin: 0.5em;
    padding: 0;
    display: flex;
}

a, a:link,  a:visited {
    margin: 0 0.5em;
    padding-bottom: 1px;
    color: #328DAB;
    text-decoration: none;
    border-bottom: 1px solid #328DAB;
}

a:active, a:focus, a:hover {
    color: #7432AB;
}
