html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Open Sans", Roboto, "San Francisco", "Helvetica Neue", "Calibri", sans-serif;
}

body {
    color: #878f9c;
    font-family: Roboto, "Helvetica Neue", "Calibri", sans-serif;
}

/*generic styling*/
h3 {
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
}

/*slightly less generic*/
.section {
    position: relative;
    min-height: 100vh;
}

.section-container {
    padding: 1em;
}

.moveTo-trigger {
    cursor: pointer;
}

.next-section {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    padding: 3em 3em 0 3em;
    text-align: center;
}

.next-section p {
    margin: 0.5em 0;
    color: #595963;
}

.next-section:hover p,
.next-section:focus p,
.next-section:active p {
    color: #2d2d38;
}

.next-section:hover,
.next-section:focus,
.next-section:active {
    padding-bottom: 3px;
}

.triangle-down, .triangle-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 9px 7px;
    border-style: solid;
    border-color: transparent;
}

.triangle-down {
    border-top-color: #bcbec6;
}

.triangle-up {
    border-bottom-color: #bcbec6;
}

.next-section:hover .triangle-down,
.next-section:active .triangle-down,
.next-section:focus .triangle-down {
    border-top-color: #808390;
}

.next-section:hover .triangle-up,
.next-section:active .triangle-up,
.next-section:focus .triangle-up {
    border-bottom-color: #808390;
}

.github:before {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-image: url('./assets/github.svg');
    background-size: contain;
    content: "";
}

.demo::before {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px 8px;
    border-style: solid;
    border-color: transparent;
    border-left-color: black;
    content: "";
}

/*first section*/
#title-card{
    display: flex;
    flex-direction: column;
    height: 100vh;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.my-name {
    margin: 0;
    padding: 0;
    color: rgba(255, 50,100, 0.7);
    text-shadow: 7px 7px 0 rgba(0, 192, 255, 0.7);
    font-size: 5em;
    font-family: Montserrat, sans-serif;
}

.subtitle {
    margin: 0.5em;
    padding: 0;
    font-weight: 300;
    font-style: italic;
}


#links {
    display: flex;
    margin: 0.5em;
    padding: 0;
}

#links a, #links a:link,  #links a:visited {
    margin: 0 0.3em;
    padding: 0.3em 0.7em 0.5em 0.7em;
    color: #16A9DA;
    text-decoration: underline;
}

#links a:active, #links a:focus, #links a:hover {
    background-color: #99d0d033;
}

/*second section*/
#things {
    margin: 0 auto;
}

#things .section-container {
}

.item {
    margin: 3em auto 6em auto;
    max-width: 700px;
}

/*because i can't be bothered to edit the gif*/
.item:first-child img {
    box-sizing: border-box;
    padding: 20px;
}

.item img {
    float: left;
    margin: -30px 1em 0.5em 1em;
    width: 150px;
    height: 150px;
    border: 1px solid #328DAB;
    border-radius: 150px;
    background-color: white;

    shape-outside: circle(95px at 91px 45px);
}

.item .item-box {
    border: 1px solid #328DAB;
    border-radius: 3px;
}

.item .description {
    margin: 0;
    padding: 1em;
    line-height: 1.45em;
    min-height: 70px;
}

.item .links {
    display: flex;
    width: 100%;
    border-top: 1px solid #328DAB;

    justify-content: space-around;
}

.item .links a {
    display: flex;
    padding: 0.7em;
    border-right: 1px solid #328DAB;
    color: #3c3c45;
    text-align: center;
    text-decoration: none;

    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.item .links a:last-child {
    border: none;
}

.item .links a:hover,
.item .links a:focus,
.item .links a:active {
    background-color: #d2e7ee;
}
